<connectionStrings>
    <!-- Default Connection (SQL Server 2017) -->
    <add name="GrandNexusDB" 
         connectionString="Data Source=.;Initial Catalog=GrandNexusDB;User ID=sa;Password=1234;" 
         providerName="System.Data.SqlClient" />
         
    <!-- Alternative Connection (SQL Server 2022 - Example) -->
    <!-- Uncomment below and comment above to use SQL Server 2022 if the instance name is different -->
    <!-- <add name="GrandNexusDB" 
         connectionString="Data Source=.\SQL2022;Initial Catalog=GrandNexusDB;User ID=sa;Password=1234;" 
         providerName="System.Data.SqlClient" /> -->
</connectionStrings>
